// big button
.big-button {
    width: 100%;
    padding: 0;
    border: none;
    text-align:    center;
    min-height: 60px;
    height: auto;
    border-radius: 15px 30px 30px 15px;
    display: flex;
    justify-content: flex-end;
    justify-self: center;
    font-family: $font2;
}

.button-text-div {
    width: 90%;
    margin: 0;
}
.play-button {
    padding: 0;
    padding-left: 3px;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-left: 0;
    margin-right: 13px;
    border-radius: 20px;
    border: none;
}

.big-button:disabled {
    opacity: .5;
}

// button
.button {
    border: none;
    padding: 5px;
}

.button-title {
    margin: 0;
    margin-right: 15px;
    margin-bottom: 7px;
    font-size: $s-size;
    font-weight: 700;
    padding: 0;
    text-align: end;
}

.button-band {
    margin: 0;
    margin-left: 15px;
    margin-top: 7px;
    font-size: $s-size;
    font-weight: 700;
    padding: 0;
    text-align: start;
}

.button--link {
    background: none;
    border: none;
    padding: 0;
}

@media (min-width: $l-breakpoint) {
    .big-button {
        height: 80px;
        border-radius: 15px 40px 40px 15px;
    }
    .button-band {
        margin-top: 10px;
        margin-right: 15px;
    }
    .play-button {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
        top: 50%;
    }
}