.footer {
    background: scale-color($color1,$lightness: +10%);
    margin: 0;
    padding: 0;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer__name {
    font-size: $xxs-size;
    color: $color3;
    margin: 0;
    display:inline-flex;
}

.footer__year {
    font-size: $xxs-size;
    color: $color3;
    margin: 0;
    display:inline-flex;
}

.theme-button {
    background: scale-color($color1,$lightness: +10%);
    border: none;
    color: $color3;
    margin: 0;
    padding: 0;
}