.footer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.footer__text {
    font-size: $xxs-size;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    display:inline-flex;
}