.slider-div {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-top: -5px;
    padding-bottom: 10px;
}

.sliderdiv {
  display: flex;
  width: 65%;
  justify-content: center;
  vertical-align: middle;
}
#slider {
    margin: 0;
    width: 90%;
    
}
.slider-button {
    text-align: center;
    padding: 0;
    margin: 0;
    //background: $color2;
    border: none;
    color: $color3;
    border-radius: 5px;
    font-size: $m-size;
    height: 35px;
    width: 35px;
}
.slider-label-div {
  display: flex;
  width: 65%;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.slider-button-div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 35%;
}

.label-div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.year-button {
    background: none;
    border: none;
    color: $color3;
    margin: 0;
    padding: 0;
    font-size: $l-size;
}

.slider-label {
    text-align: center;
    color: $color17;
    font-size: $m-size;
    font-weight: 700;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.empty {
  margin: 0;
  padding: 0;
}

input[type=range] {
    width: 100%;
    margin: 7px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: $color3;
    border: 0;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background: $color3;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $color3;
  }
  input[type=range]::-moz-range-track {
    background: $color3;
    border: 0;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: $color1;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8px 0;
    color: transparent;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: $color1;
    border: 0;
  }
  input[type=range]::-ms-fill-upper {
    background: $color1;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: $color1;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $color1;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $color1;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  