.slider-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-bottom: 20px;
    //border-bottom: 8px double scale-color($color1, $lightness: -5%);
    
}

#slider {
    width: 80%;
    vertical-align: middle;
    margin-left: 20px;
}
.slider-button {
    margin-left: 20px;
    margin-right: 20px;
    background: $color2;
    border: none;
    color: $color3;
    border-radius: 5px;
    font-size: $m-size;
    height: 40px;
    width: 40px;
}

.slider-label {
    display: block;
    text-align: center;
    color: scale-color($color1, $lightness: 80%);
    font-size: $m-size;
    font-weight: 700;
    margin-bottom: 0px;
    margin-right: 60px;
}

input[type=range] {
    width: 100%;
    margin: 7px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: $color3;
    border: 0;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background: scale-color($color2, $lightness: +0%);;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $color3;
  }
  input[type=range]::-moz-range-track {
    background: $color3;
    border: 0;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: scale-color($color1, $lightness: -10%);;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 8px 0;
    color: transparent;
    width: 100%;
    height: 1px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: scale-color($color1, $lightness: -10%);;
    border: 0;
  }
  input[type=range]::-ms-fill-upper {
    background: scale-color($color1, $lightness: -10%);;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: scale-color($color1, $lightness: -10%);;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: scale-color($color1, $lightness: -10%);;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: scale-color($color1, $lightness: -10%);;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  