@import './base/settings';
@import './base/base';
@import './base/colors';
@import './components/container';
@import './components/header';
@import './components/footer';
@import './components/button';
@import './components/playingModal';
@import './components/yearSlider';
