html {
    font-size: 62.5%;
    background-color: $color4;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: $font1;
    font-size: $m-size;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.body-div {
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
