// Theme 14 colors
// $color1: hsl(253, 57%, 9%);
// $color2: #ad192d;
// $color3: rgb(221, 216, 235);
// $color4: rgb(17, 13, 48);

// Theme 13 colors
// $color1: hsl(253, 57%, 9%);
// $color2: #ad192d;
// $color3: rgb(221, 216, 235);
// $color4: rgb(17, 13, 48);

// Theme 12 colors
// $color1: hsl(253, 80%, 31%);
// $color2: #1948ad;
// $color3: rgb(222, 229, 250);
// $color4: rgb(21, 12, 99);

// Theme 11 colors
// $color1: hsl(253, 80%, 31%);
// $color2: #19ad99;
// $color3: rgb(238, 222, 250);
// $color4: rgb(21, 12, 99);

//Theme 10 colors
// $color1: hsl(253, 80%, 31%);
// $color2: #ad1920;
// $color3: rgb(238, 222, 250);
// $color4: rgb(21, 12, 99);

// Theme 9 colors
$color1: hsl(253, 80%, 31%);
$color2: #ad196f;
$color3: rgb(238, 222, 250);
$color4: rgb(21, 12, 99);

// Theme 8 colors
// $color1: hsl(266, 80%, 31%);
// $color2: #6a19ad;
// $color3: rgb(238, 222, 250);
// $color4: rgb(64, 12, 99);

// Theme 7 colors
// $color1: hsl(268, 90%, 15%);
// $color2: #19a3ad;
// $color3: rgb(211, 212, 250);
// $color4: rgb(180, 179, 236);

// Theme 6 colors
// $color1: hsl(268, 85%, 23%);
// $color2: #cf91bb;
// $color3: rgb(239, 217, 241);
// $color4: rgb(238, 209, 235);

// Theme 5 colors
// $color1: hsl(268, 85%, 23%);
// $color2: #be4097;
// $color3: rgb(239, 217, 241);
// $color4: rgb(238, 209, 235);

// Theme 4 colors
// $color1: hsl(310, 85%, 23%);
// $color2: #cf91bb;
// $color3: rgb(239, 217, 241);
// $color4: rgb(238, 209, 235);

// Theme 3 colors
// $color1: hsl(342, 81%, 26%);
// $color2: #cf91bb;
// $color3: rgb(239, 217, 241);
// $color4: rgb(238, 209, 235);

// Theme 2 colors
// $color1: hsl(124, 48%, 28%);
// $color2: #8bb32c;
// $color3: white;
// $color4: rgb(215, 238, 209);

// Theme 1 colors
// $color1: #1e2caa;
// $color2: #4dccc1;
// $color3: white;
// $color4: rgb(188, 212, 245);

$color1_5: scale-color($color1, $lightness: -50%);
$color12: scale-color($color1, $lightness: 20%);
$color17: scale-color($color1, $lightness: 70%);
$color26: scale-color($color2, $lightness: +60%);

.grad1_2 {
    background: linear-gradient(180deg, $color2, $color1);
}

.grad12_1 {
    background: linear-gradient(60deg, $color12, $color1);
}

.cc17 {
    color: $color17;
}
.cc1_5 {
    color: $color1_5;
}
.cc2 {
    color: $color2;
}
.cc26 {
    color: $color26;
}
.cc3 {
    color: $color3;
}
.bc1 {
    background-color: $color1;
}
.bc12 {
    background-color: $color12;
}
.bc2 {
    background-color: $color2;
}
.bc3 {
    background-color: $color3;
}
.bc4 {
    background-color: $color4;
}

// font sizes
$xxs-size: 0.8rem;
$xs-size: 1.2rem;
$s-size: 2rem;
$m-size: 1.8rem;
$l-size: 2.4rem;
$xl-size: 3.2rem;
$xxl-size: 4.8rem;

$l-breakpoint: 50em;
$m-breakpoint: 35em;
$s-breakpoint: 15em;

$font1: 'Audiowide', cursive;
$font2: 'Amatic SC', cursive;